/*.text_color {
    text-decoration: none; 
    color: rgb(102, 101, 101);
}*/
.flex {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
}
a:hover {
    text-decoration: underline;
}
li {
    display: inline;
}
/*header*/
.headerright {
    float: left;
}
.headerleft {
    float: right;
}
/*body*/
main {
    text-align: center;  
}
#form {
    text-align: center;
}
.text {
    border-radius: 20px;
    width: 33.3%;
    border-color: rgb(228, 227, 227);
}
#search {
    text-align: center;
}
.searchlucky {
    background-color: rgb(248, 247, 247);
    border: none;
    border-radius: 3px;
    padding: 14px 14px;
}
/*footer*/
.footer {
}
#footerright {
    float: left;
}
#footleft   {
    float: right;
}